*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
        background-color: #1f242d;
        color: #fff;
}
section{
    min-height: 100vh;
    padding: 10rem 9% 2rem ;
}

.header{
    position:fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 20px 9%;
    background: #1f242d;
    display: flex;
    justify-content:space-between;
    align-content: center;
    z-index: 100;
}
.header.sticky{
    border-bottom: .1rem solid rgba(0,0,0,.2);
}
.logo{
    font-size: 2.5rem;
    color: aliceblue;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideright 1s ease forwards;
}
.navbar a{
    font-size: 1.7rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 4rem;
    transition: .3s;
    opacity: 0;
    animation: slidetop 0.5s ease forwards;
    animation-delay: calc(.2s*var(--i));
}
.navbar a:hover,
.navbar a.active{
    color: #0ef;
}
#menu-icon{
    font-size: 3.6rem;
    color: #fff;
    display: none;
}
.home{
    /*position: relative;*/
    /*width: 100%;*/
    /*height: 100vh;*/
    display: flex;
    justify-content:center;
    align-items: center;
    /*padding: 70px 10% 0;*/
}
.home-content{
    max-width: 600px;
}
.home-image img{
    /*max-width: 255px;
    margin-right: -5px;*/
    width: 25vw;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s ,3s;
}
.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
    /*padding: 20px 10px;
    opacity: 0;
    animation: slidebottom 1s ease forwards;
    animation-delay: .7s;*/
}
.home-content p{
    font-size: 1.6rem;
    opacity: 0;
    animation: slideright 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}
.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    /*padding: 30px 10px;*/
    /*margin: -3px 0;*/
    line-height: 1.3;
    opacity: 0;
    animation: slidedown 1s ease forwards;
}
.social-media a{
    display: inline-flex;
    width: 4rem;
    height: 4rem;
    justify-content: center;
    align-items: center;
    background:transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 2rem;
    margin: 30px 15px 30px 0;
    color: #0ef;
    text-decoration: none;
    transition: .03s;
    opacity: 0;
    animation: slidetop 0.5s ease forwards;
    animation-delay: calc(.2s*var(--i));
}
.social-media a:hover{
    color:purple;
    background:#fff;
    box-shadow: 0 0 20px #0ef;
}
span{
    color: #0ef;
}
.btn{
    display:inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 30px;
    box-shadow: 0 0 20px #0ef;
    font-size: 25px;
    color: red;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    opacity: 0;
    animation: slidetop 0.2s ease forwards;
    animation-delay: calc(.2s*var(--i));
}
.btn:hover{
    box-shadow: none ;
}
@keyframes slideright {
    0%{
        transform: translate(-100px);
        opacity: 0;
    }
    100%{
        transform: translate(0);
        opacity: 1;
    }
}
@keyframes slidetop {
    0%{
        transform:translate(100px);
        opacity: 0;
    }
    100%{
        transform: translate(0);
        opacity: 1;
    }
}
@keyframes slidebottom {
    0%{
        transform:translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translate(0);
        opacity: 1;
    }
}
@keyframes slidedown {
    0%{
        transform:translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translate(0);
        opacity: 1;
    }
}
@keyframes zoomIn {
    0%{
        transform:scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes floatImage {
    0%{
        transform:translateY(0);
        
    }
    50%{
        transform:translateY(-24px);
    }
    100%{
        transform:translateY(0);
    }
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: #1f242d;
    color: #fff;
    
}
.about-image img{
    width: 25vw;
    opacity: 0;
    animation: zoomIn 1s ease forwards
}
.heading{
    text-align: center;
    font-size: 3.3rem;
}
.about-content h2{
    margin-bottom: 1.3rem;
    text-align: left;
    line-height: 1.2 ;
    opacity: 0;
    animation: slideright 1s ease forwards;
    animation-delay: .7s;
}
.about-content h3{
    font-size: 2.6rem;
    opacity: 0;
    animation: slidetop 0.2s ease forwards;
    animation-delay: calc(.2s*var(--i));
}
.about-content p{
    font-size: 1.6rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    align-items: center;
    opacity: 0;
    animation: slidedown 1s ease forwards;
}
.service{
    margin-bottom: 5rem;
}
.service .heading{
    opacity: 0;
    animation: slideright 1s ease forwards;
    animation-delay: .1s;
}
.service-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;  
}

.service-content .service-box{
    flex: 1 1 30rem;
    background:#323946;
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid #1f242d;
    transition: .5 ease;
    opacity: 0;
    animation: slidedown 1s ease forwards;
}
.service-content .service-box:hover{
    border-color: #0ef;
    transform: scale(1.02);
}
.service-box i{
    font-size: 7rem;
    color: #0ef;
}
.service-box h3{
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.service-box p{
    font-size: 1.6rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.portfolio{
    background: #323946;
}
.portfolio .heading{
    opacity: 0;
    animation: slidetop 0.5s ease forwards;
    animation-delay: calc(.2s*var(--i)); 
}
.portfolio h2{
    margin-bottom: 4rem;
}
.portfolio-box img{
    width: 100%;
    transition: .5s ease;
}
.portfolio-box:hover img{
    transform: scale(1.1);
}
.portfolio-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
}
.portfolio-content .portfolio-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: #1f242d;
    overflow: hidden;
    display: flex;
    opacity: 0;
    animation: slidetop 0.5s ease forwards;
    animation-delay: calc(.2s*var(--i));
}
.portfolio-box .portfolio-layer{
    position: absolute;
    bottom:  0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.1),#0ef);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}
.portfolio-box:hover .portfolio-layer{
    transform: translateY(0);
    cursor: pointer;
}
.portfolio-layer h4{
    font-size: 3rem;
}
.portfolio-layer p{
    font-size: 1.6rem;
    margin: 1rem 1rem;
}
.portfolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: #fff;
    border-radius: 50%;
}
.portfolio-layer i{
    font-size: 2rem;
    color: #323946;
}
.contact h2{
    margin-bottom: 3rem;
}
.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: #0ef;
    background: #323946;
    border-radius: .8rem;
    margin: .7rem 0;
}
.contact form .input-box input{
    width: 49%;
}
.contact form textarea{
    resize: none;
}
.contact form .btn{
    margin-top: 2rem;
    cursor: pointer;
}

@media(max-width:1200px){
    html{
        font-size: 55%;
    }
}
@media(max-width:991px){
    .header{
        padding: 2rem 3%;
    }
    section {
        padding: 10rem 3% 2rem;
    }
    .service{
        padding-bottom: 7rem;
    }
    .portfolio{
        margin-bottom: 7rem;
    }
    .contact{
        min-height: auto;
    }
}
@media(max-width:768px){
    #menu-icon{
        display: block ;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: #1f242d;
        border-top:.1rem solid rgba(0,0,0,.2);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
        display: none;
    }
    .navbar.active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .home{
        flex-direction:column;
    }
    .home-content{
        font-size: 5rem;
    }
    .home-image img{
        width: 70vw;
        margin-top: 4rem;
    }
    .about{
        flex-direction:column-reverse;
    }
    .about img{
        width: 70vw;
        margin-top: 4rem;
    }
    .service h2{
        margin-bottom: 3rem;
    }
    .portfolio h2{
        margin-bottom: 3rem;
    }
    .portfolio-content{
        grid-template-columns:repeat(2,1fr);
    }
}
@media(max-width:617px){
    .portfolio-content{
        grid-template-columns: 1fr;
    }
}
@media(max-width:450px){
    html{
        font-size: 50%;
    }
    .contact form .input-box input{
        width: 100%;
    }
}
@media(max-width:365px){
    .home-image img{
        width: 90vw;
    }
    .about-image img{
        width: 90vw;
    }
}